<div class="jumbotron text-center col-md-10 col-md-offset-1">
  <h1>Электронный журнал</h1>
  <h2>
    <small>Это домашняя страница системы электронного журнала</small>
  </h2>
  <br>
  <%= link_to "Войти", signin_path, class: "btn btn-lg btn-primary" %>
</div>
