<tr>
  <td><%= link_to user.login, user %></td>
  <td><%= user.name %></td>
  <td><%= link_to(raw('Изменить  <i class="fa fa-pencil"></i>'), edit_user_path(user), class:"btn btn-primary btn-sm") %> &nbsp&nbsp&nbsp&nbsp
    <%= link_to(raw('Удалить <i class="fa fa-trash-o"></i>'), user, method: :delete, data: { confirm: "Вы уверены" }, class: "btn btn-primary btn-sm") if !current_user?(user) %></td>
</tr>