<% provide :title, "Все пользователи | " %>

<div class="text-center">
  <%= will_paginate %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <td><b>Логин</b></td>
    <td><b>Имя</b></td>
    <td><b>Действия</b></td>
  </tr>
  </thead>
  <%= render @users %>
</table>

<div class="text-center">
  <%= will_paginate %>
</div>