@import "bootstrap";

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  @extend  .has-feedback
}
