<%= provide :title, "500 | " %>
 <div class="jumbotron text-center">
    <h1>В процессе обработки запроса произошла ошибка</h1>
    <h2>
      <small>An error has occuried. For more detail information see application logs</small>
    </h2>
    <br/>
    <%= link_to "Вернуться на домашнюю страницу", root_path, class: "btn btn-primary  btn-lg" %>
  </div>
