<%= provide :title, "404 | " %>
<div class="jumbotron text-center">
  <h1>Не найдено</h1>
  <h2>
    <small>An error has occuried. For more detail information see application logs</small>
  </h2>
  <br/>
  <%= link_to "Вернуться на домашнюю страницу", root_path, class: "btn btn-primary  btn-lg" %>
</div>
